/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
/* *{
  box-sizing: border-box;
} */

/******************************************
/* LAYOUT
/*******************************************/
/* h1, h2 {
  text-align: center;
}

img {
  display: block;
  height: 300px;
  margin: 0 auto;
}

ul {
  width: 100px;
  height: 265px;
  border: 3px solid black;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

li {
  width: 94px;
  height: 65px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* #purple {
  background: purple;
}

#green {
  background: green;
}

#blue {
  background: blue;
}

#candie {
  background-image: url(../img/candie.png);
  background-position: center;
} */ */

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1,
h2 {
  text-align: center;
}
img {
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul {
  width: 100px;
  height: 300px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li {
  width: 100px;
  height: 60px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple {
  background: purple;
}
#green {
  background: green;
}
#blue {
  background: blue;
}

#orange {
  background: orange;
}

#reset {
  background: white;
}