/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/
#result {
  display: block;
  font-size: 64px;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
