* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
  height: 100px;
  background: rgb(115, 150, 210);
  /* border: 3px solid grey; */
  clear: both;
}

section {
  height: 300px;
  /* border: 2px solid grey; */
  float: left;
}

.section1 {
  width: 100%;
  background-color: rgb(227, 161, 196);
}

.section2 {
  width: 35%;
  background-color: rgb(215, 164, 154);
}

.section3 {
  width: 65%;
  background-color: rgb(199, 205, 246);
}
