/* Please Make only Rhino and Zebra Blue */
#rhino {
  color: blue;
}

#zebra {
  color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
  color: gold;
}
/* Please select Duck with the highest level of specificity possible */
/* this be trolling, never do this for production */
html
  body
  h1#h1
  + section.top
  + section.middle
  + article.areDucksDinosars
  h2.likesToQuack.fights10r100 {
  color: orange !important;
}
/* Please select Rhino with the highest level of specificity possible */
#rhino {
  color: grey;
}

/* what do you mean by select? */
