/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2, p {
  display: flex;
  justify-content: center;
}

p {
  min-width: 25%;
  max-width: 50%;
  text-align: center;
	margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
