/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* khan academy blue */
/* #1865f2 */

html {
  font-size: 10px;
}

/* border-bottom shows up on top? */
header > nav {
  font-family: "Lato";
  margin-top: 1.6rem;
}

header > nav > section a {
  color: #1865f2;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
}

/* padding to 8px messes up main > section float layout */
input[type="search"] {
  background-color: rgb(240, 241, 242);
  border: none;
  border-radius: 4px;
  color: #1865f2;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 4px 4px 4px 8px;
}

h1 {
  font-size: 6rem;
}

p {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.8;
  padding-bottom: 40px;
}

button {
  background-color: #1865f2; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 1.6rem;
  padding: 10px 16px;
  margin-right: 8px;
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
header > nav > section {
  float: left;
  width: 33.333%;
}

header > nav > section:nth-child(1) {
  margin-left: 5%;
}

header > nav > section:nth-child(2) {
  width: 28.333%;
}

/* having trouble centering the img using floats */
header > nav > section > h2 > img {
  width: 200px;
}

/* lets children in parent's 1 and 3 to sit side-by-side */
header > nav > section > a,
header > nav > section > form,
header > nav > section > ul > li {
  float: left;
}

header > nav > section > a,
header > nav > section > ul > li {
  padding-top: 0.4rem;
}

nav a,
nav form,
nav ul {
  /* width: 40%; */
  margin: 0 5%;
  list-style-type: none;
}

nav > section > ul > li {
  width: 25%;
  margin: 0 1%;
}

main > section {
  width: 40%;
  float: left;
}

main > section:nth-child(1) {
  margin-left: 5%;
}

main > section:nth-child(2) {
  margin-right: 5%;
}

/* section {
  margin-top: 100px;
} */

main > section img {
  display: block;
  margin-top: 100px;
}

main > section h1 {
  display: block;
  margin-top: 200px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
